<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/design.css"> 
   
    <title>Data in charts</title>
  </head>
  <body ng-app="app">
    <br><br>
    <!-- Bar chart will be here -->
    <!-- <div class="container">
      <div class="jumbotron">        
        <div ng-controller="ChartController">
          <h1 id="makeRed">Number of calls in 24 hour</h1> 
          <button type="button" class="btn btn-primary">Sort</button>
          <br><br>
        </div>
      </div>      
    </div> -->
  <!-- Pi chart information will be here  -->
  <div class="container">
    <!-- <div class="jumbotron">
      <h2>Pi chart goes here</h2>
    </div> -->
    <div class="jumbotron"> 
    <h1><small>Amount of 911 calls in 24 hours!!!</small></h1>
      <div ng-controller="DataController">      
        <div id="pieChart" class="makeUpper"></div>

          

      </div>
    </div>
    
    <br><br>  
    <p>DIsplaying the table</p>  
    <!-- {{arr}}  -->
    <div role="main" class="container theme-showcase">
      <div class="col-lg-8">
        <div class="page-header">
          <h2 id="tables">Search Sort and Pagination in Angular js</h2>
        </div>
        <div class="bs-component" ng-controller="TableController">
          <!-- {{array}} -->
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>CallDateTime</th>
                <th>Callnumber</th>
                <th>description</th>
                <th>district</th>
                <th>incidentlocation</th>
                <th>location</th>
                <th>priority</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="record in array">
                <td>{{record.calldatetime}}</td>
                <td>{{record.callnumber}}</td>
                <td>{{record.description}}</td>
                <td>{{record.district}}</td>
                <td>{{record.incidentlocation}}</td>
                <td>{{record.location}}</td>
                <td>{{record.priority}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <!-- <div ng-controller="TestController">
      {{text}}<br>{{name}}
      <button ng-click="testing()">Click me</button> 
    </div> -->
  </div>


  <br><br>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
  <script src="js/d3pie.min.js"></script>
  <script type="text/javascript" src="/sp/Sample-projects/js/main.js"></script>

  </body>
</html>
