<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/design.css"> 
   
    <title>Data in charts</title>
  </head>
  <body ng-app="app">
    <br><br>
 
  <div class="container">
    <div class="jumbotron"> 
    <h1><small>Amount of 911 calls in 24 hours!!!</small></h1>
      <div ng-controller="DataController">      
        <div id="pieChart" class="makeUpper"></div>          

      </div>
    </div>    
    <br><br>   
    <!-- {{arr}}  -->
    <div role="main" class="container theme-showcase">
      <div class="col-lg-8">
        <div class="page-header">
          <h2 id="tables">Search records in dataset</h2>
        </div>
        <div class="bs-component" ng-controller="TableController">
          <!-- {{array}} -->
          <form class="form-inline">
            <div class="form-group">
              <label >Search</label>
              <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>
          </form>
          <br>
                
          <table class="table table-bordered table-hover">
            <thead>
              <tr class="success">
                <th ng-click="sort('calldatetime')">CallDateTime
                  <span class="glyphicon sort-icon" ng-show="sortKey=='calldatetime'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('callnumber')">Callnumber</th>
                <th ng-click="sort('description')">description</th>
                <th ng-click="sort('district')">district</th>
                <th ng-click="sort('incidentlocation')">incidentlocation
                  <span class="glyphicon sort-icon" ng-show="sortKey=='incidentlocation'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('location')">location</th>
                <th ng-click="sort('priority')">priority
                  <span class="glyphicon sort-icon" ng-show="sortKey=='priority'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="record in array|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
                <td>{{record.calldatetime}}</td>
                <td>{{record.callnumber}}</td>
                <td>{{record.description}}</td>
                <td>{{record.district}}</td>
                <td>{{record.incidentlocation}}</td>
                <td>{{record.location}}</td>
                <td>{{record.priority}}</td>
              </tr>
            </tbody>
          </table>
          <div align="center">
            <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" ></dir-pagination-controls>
          </div>
          
        </div>
      </div>

    </div>
    <!-- <div ng-controller="TestController">
      {{text}}<br>{{name}}
      <button ng-click="testing()">Click me</button> 
    </div> -->
  </div>

  <br><br>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
  <script src="js/d3pie.min.js"></script>
  <script type="text/javascript" src="/sp/Sample-projects/js/main.js"></script>
  <script type="text/javascript" src="/sp/Sample-projects/js/dirPagination.js"></script>

  </body>
</html>
